node_modules
dist
out
.DS_Store
.eslintcache
*.log*
.vscode
*.env
coverage
*.tmp
*.bak
*.swp
*.swo
*.orig
*.patch
*.tgz
*.zip
*.rar
*.7z
*.tar
*.gz
*.log
*.lock
*.pid
*.sublime-workspace
.idea
*.iml
*.vscode
*.cache
*.DS_Store
*.npm
*.yarn
*.eslintcache
*.prettiercache
*.cache-loader
